In [ ]:
#1


def AmiKenoMota(height, weight):
  height_cm = height/100
  bmi = weight/ (height_cm)**2
  print("Score is", "%.1f" % bmi , end=". " )


  if bmi < 18.5:
    print("You are Underweight")
  elif 18.5 <= bmi <= 24.9:
    print("You are Normal")
  elif 25 <= bmi <= 30:
    print("You are Normal")
  elif bmi > 30:
    print("You are Obese")

AmiKenoMota(175, 96)

Score is 31.3. You are Obese

In [ ]:
#2
def FoodPanda(burger, location="Mohakhali"):

    if location == "Mohakhali":
        delivery_charge = 40
    else:
        delivery_charge = 60

    if burger == "BBQ Chicken Chesse Burger":
        meal_cost = 250
    elif burger == "Beef Burger":
        meal_cost = 170
    elif burger == "Naga Drums":
        meal_cost = 200


    tax = meal_cost * (8 / 100)

    Total_Price = meal_cost + delivery_charge + tax
    return Total_Price

burger = input()
location = input()
print(FoodPanda(burger, location))


# print(FoodPanda("Beef Burger", "Dhanmondi"))
# print(FoodPanda("Beef Burger"))

Beef Burger
Dhanmondi
243.6

In [ ]:
#3
def replace_domain(email, domain, old_domain="kaaj.com"):


    new_email = ""
    index = -1
    for i in range(len(email)):
        if email[i] == "@":
            index = i
            break



    new_email = email[: index + 1]
    # print(new_email)

    if old_domain in email:
        new_email += domain
        comment = "Changed"
    else:
        new_email += domain
        comment = "Unchanged"

    return f"{comment}: {new_email}"


print(replace_domain("alice@kaaj.com", "sheba.xyz", "kaaj.com"))
print(replace_domain("bob@sheba.xyz", "sheba.xyz"))

Changed: alice@sheba.xyz
Unchanged: bob@sheba.xyz

In [ ]:
#4
def IsPalindrome(shobdo):

    temp = ""
    for i in shobdo:
        if i != " ":
            temp += i

    if temp == temp[::-1]:
        print("Palindrome")
    else:
        print("Not a palindrome")



IsPalindrome("nurses run")

Palindrome

In [ ]:
#5
def Converter(day):

    year = day // 365
    # print(year)
    day = day % 365
    # print(day)
    month = day // 30
    # print(month)
    day = day % 30
    # print(day)

    return f"{year} years, {month} months and {day} days"


print(Converter(4320))
print(Converter(4000))

11 years, 10 months and 5 days
10 years, 11 months and 20 days

In [ ]:
print(305%30)

5